* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
a { 
    text-decoration: none;
} 
a:hover{ 
    text-decoration: none;
} 
i {
    color: aliceblue;
    font-size: 30px;
    padding-left: 25px;
    opacity: 0;
    cursor: pointer;
}
body{
    background: url(../img/mainImg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.menu {
    width: 100%;
    background: #000000;
    padding: 9px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}
nav a {
    color: #dbdbdb;
    margin: 0 5px;
}
nav {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: 0.7s;
}
footer {
    background-color: #000;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
footer img{
    padding: 20px;
}
.tabs{
    max-width: 1200px;
}
.quick-facts{
    max-width: 300px;
    height: 1100px;
}
.life{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items:center;
}
h1 {
    text-align: center;
    margin: 30px;
    color: antiquewhite;
}
table{
    border-spacing: 10px 5px;
}
h2{
    margin: 30px;
}
h2, th{
    color: antiquewhite;
}
td {
    color: #ffdeb2;
}
.quick-facts {
    max-width: 350px;
    background-color: #121011;
    padding: 30px;
    border-radius: 80px;
    margin-left: 40px;
}












.tabs-container {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
}
.tabs-container__tab-content{
    display: flex;
    width: fit-content;
    box-shadow: 0 4px 30px rgb(0 0 0 / 25%);
    position: relative;
}
.tabs-container__tab-content img {
    width: 100%;
    position: relative;
    z-index: 0;
}
.tabs-container__text-content{
    background: rgb(136 127 115);
    padding: 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0,0,0,.7);
    z-index: 2;
    word-wrap: break-word;
}
.tabs-container__list {
    min-width: 350px;
    padding: 35px 30px;
    background-color: #121011;
    box-shadow: 0 4px 30px rgb(0 0 0 / 25%);
    z-index: 1;
}
.tabs-item{
    margin-top: 35px;
    padding-left: 26px;
    border-left: 1px solid #000;
}
.item{
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    color: rgba(0,0,0,.6);
    cursor: pointer;
    transition: .3s all;
}
.tabs-item__active{
    color: #000;
    font-size: 22px;
    font-weight: 700;
}
.wrapper__text-block {
    position: absolute;
    font-size: 35px;
    color: antiquewhite;
    display: flex;
    top: 100px;
    left: 9px;
}
.wrapper {
    max-width: 270px;
    max-height: 270px;
    overflow: hidden;
    background: #000;
    margin: 10px;
    position: relative;
}
.wrapper img{
    width: 100%;
    opacity: 0.7;
}
.tabs-container__list h3 {
    font-size: 20px;
    color: antiquewhite;
}
.italic {
    font-family: cursive;
}
.tabs-container__text-content h2 {
    margin: 25px 0;
    font-size: 50px;
}












@media(max-width: 850px){
    footer {
        display: flex;
        flex-direction: column;
    }
    footer nav{
        display: flex;
        flex-direction: column;
    }
    .menu{
        padding: 0px;
        height: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .menu nav {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -300px;
        margin: 0 auto;
    }
    #open{
        opacity: 1;
    }
}
@media(max-width: 1400px){
    .life{
        display: block;
    }
    .quick-facts {
        max-width: 70%;
        margin: 40px auto;
        height: auto;
    }
}
@media(max-width: 1220px){
    .tabs-container {
        display: flex;
        max-width: 1200px;
        margin: 50px 10px;
        align-items: center;
    }    
    .tabs-container__list {
        width: 450px;
    }
    .tabs-container{
        flex-direction: column;
    }    
    .tabs-container__text-content{
        max-width: 450px;
        height: auto;
        width: auto;
        left: 10px;
        right: 0;
        padding: 10px;
        min-width: 350px
    }
    body{
        background-size: auto 100%;
    }
}

@media(max-width: 800px) {
    .main-content {
        width: auto;
        height: 900px;
    }

}
@media(max-width: 850px) {
    .life {
        flex-direction: column;
    }
    .quick-facts {
        max-width: 300px;
    }
}
@media(max-width:500px){
    .tabs-container__list {
        width: 100%;
    }
}