* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
a { 
    text-decoration: none;
} 
a:hover{ 
    text-decoration: none;
} 
i {
    color: aliceblue;
    font-size: 30px;
    padding-left: 25px;
    opacity: 0;
    cursor: pointer;
}
body{
    background: url(./img/urok_anatomii.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.menu {
    width: 100%;
    background: #000000;
    padding: 9px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}
nav a {
    color: #dbdbdb;
    margin: 0 5px;
}
nav {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: 0.7s;
}
footer {
    background-color: #000;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
footer img{
    padding: 20px;
}
.img-block {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    padding: 20px;
}
h1, p {
    max-width: 70%;
    margin: 30px auto;
}
img {
    max-width: 50%;
    border-radius: 40px;
}
.img-block p {
    margin: 10px;
    color: white;
}








@media(max-width: 850px){
    footer {
        display: flex;
        flex-direction: column;
    }
    footer nav{
        display: flex;
        flex-direction: column;
    }
    .menu{
        padding: 0px;
        height: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .menu nav {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -300px;
        margin: 0 auto;
    }
    #open{
        opacity: 1;
    }
}